* {
  font-family: 'Cutive Mono', monospace !important;
  font-size: 22px;
  line-height: 2;
}

html, body {
  margin: 0;
}

.text {
  width: 500px;
  float: left;
  outline: none;
  min-height: 500px;
  margin-top: 20px;
  visibility: hidden;
}

.text-container {
  width: 800px;
}

.paper {
  width: 500px;
  margin-top: 100px;
  border: 1px solid black;
  -webkit-transition: -webkit-transform 100ms 20ms;
}
.cursor {
  position: absolute;
  display: block;
  width: 14px;
  border-bottom: 2px solid rgba(0,0,0,0.5);
  left: 520px;
  top: 136px;
}
