* {
  font-family: 'Cutive Mono', monospace !important;
  font-size: 22px;
  line-height: 2;
}

html, body {
  margin: 0;
}

.text {
  width: 500px;
  float: left;
  outline: none;
  min-height: 500px;
  margin-top: 20px;
  color: rgba(0,0,0,0.1);

  opacity: 0;
  position: fixed;
}

.text-container {
  width: 800px;
}

.paper-container {
  position: fixed;
  top: 100%;
  margin-top: -220px;
  left: 50%;
}
.paper-container canvas {
  border: 1px solid rgba(155,155,104, 0.6);
  -webkit-transition: -webkit-transform 100ms 20ms;
}
.cursor {
  position: fixed;
  bottom: 170px;
  background: rgba(0,0,0,0.2);
  height: 7px;
  width: 100%;

  display: block;
}
.cursor::after {
  position: fixed;
  bottom: 170px;
  height: 7px;
  width: 18px;
  background: rgba(0,0,0,0.6);
  left: 50%;
  margin-left: 15px;
  height: 7px;
  content: ' '
}
